    /*-----------------СБРОС--------------*/
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        font-family: OpenSans-Regular;
        font-size: 16px;
        line-height: normal;
        color: #000000;
    }
    
    a {
        text-decoration: none;
        color: #000000;
    }
    
    h1,
    h2,
    h3,
    h4 {
        font-weight: inherit;
        font-size: inherit;
    }
    
    ul,
    ol,
    li {
        list-style: none;
    }
    
    .wrapper {
        /*Оболочка, чтобы не было горизонтального скрола*/
        max-width: 100%;
        /*  min-height: 100%;
        overflow: hidden; */
    }
    
    .container {
        max-width: 1170px;
        padding: 0 15px 0;
        margin: 0 auto;
        box-sizing: content-box;
    }
    
    @media (min-width: 361px) and (max-width: 768px) {
        .container {
            padding: 0 35px 0;
        }
    }
    
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        clip: rect(0 0 0 0);
    }
    
    @font-face {
        font-family: "OpenSans-Regular";
        src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff");
        src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2");
        src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
        font-weight: 400;
        font-style: normal;
    }
    
    @font-face {
        font-family: "OpenSans-Bold";
        src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff");
        src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2");
        src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
        font-weight: 700;
        font-style: normal;
    }
    /*-------------------HERDER-------------------*/
    
    .header {
        position: relative;
        z-index: 1;
        width: 100%;
        min-height: 449px;
        margin-bottom: 58px;
        background-color: #666666;
        background-image: url("../images/banner-bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    .header::after {
        position: absolute;
        z-index: -1;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000000;
        opacity: 0.5;
    }
    
    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 46px;
        padding-top: 26px;
    }
    
    .heder-logo {}
    
    .logo-picture {
        width: 185px;
    }
    
    .header-navigation {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    
    .header-navigation::before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 21px;
        background-image: url("../svg/menu-burger.svg");
        background-repeat: no-repeat;
        background-position: left center;
        visibility: hidden;
    }
    
    .navigation-list {
        display: flex;
        flex-wrap: wrap;
        /*  column-gap: 36px;
    row-gap: 10px;*/
    }
    
    .navigation-item {}
    
    .navigation-item:not(:last-child) {
        margin-right: 36px;
    }
    
    .navigation-link {
        font-size: 0.81rem;
        line-height: inherit;
        text-transform: uppercase;
        color: #ffffff;
    }
    
    .navigation-link:hover {
        border-bottom: 1px solid #ffffff;
    }
    
    .header-heading {
        margin: 0 auto;
        margin-top: 100px;
    }
    
    .header-slogan {
        max-width: 720px;
        margin: 0 auto;
        text-align: center;
        font-size: 2.81rem;
        line-height: 75px;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        text-transform: uppercase;
        color: #ffffff;
    }
    /*@media (min-width: 641px),
(orientation: landscape) and (max-width: 1200px) {}*/
    /*@media TABLET------------------HERDER */
    
    @media (max-width: 1260px) {
        .header-menu {
            padding-top: 26px;
        }
    }
    
    @media (max-width: 768px) {
        .header {
            min-height: 390px;
            background-image: url("../images/banner-bg-tablet.jpg");
        }
        .header-menu {
            padding-top: 41px;
        }
        .navigation-list {
            display: none;
        }
        .header-navigation::before {
            visibility: visible;
            margin-left: 10px;
        }
        .header-heading {
            margin-top: 90px;
            /*   padding: 0 75px 10px; */
        }
        .header-slogan {
            font-size: 40px;
            line-height: 55px;
        }
    }
    
    @media (max-width: 580px) {
        .header-heading {
            margin-top: 80px;
            /*  padding: 0 65px 10px; */
        }
        .header-slogan {
            font-size: 35px;
            line-height: 45px;
        }
    }
    
    @media (max-width: 506px) {
        .header-heading {
            /*  padding: 0 45px 10px; */
        }
    }
    
    @media (max-width: 376px) {
        .header-heading {
            margin-top: 50px;
            /*  padding: 0 45px 10px; */
        }
    }
    /*@media MOBILE------------------HERDER*/
    
    @media (max-width: 360px) {
        .header {
            min-height: 639px;
            background-image: url("../images/banner-mobile.jpg");
        }
        .header-menu {
            position: relative;
            flex-direction: column-reverse;
            padding-top: 222px;
        }
        .logo-picture {
            width: 270px;
            height: 60px;
        }
        .navigation-list {
            display: none;
        }
        .header-navigation::before {
            position: absolute;
            top: 30px;
            right: 15px;
            margin: 0;
            visibility: visible;
        }
        .header-heading {
            margin-top: 40px;
            padding: 0 16px;
        }
        .header-slogan {
            font-size: 26px;
            line-height: 36px;
        }
    }
    /*--TRANDS-------------------*/
    
    .page-title {
        text-align: center;
        font-size: 20px;
        line-height: normal;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        text-transform: uppercase;
    }
    
    .page-title-link {
        position: relative;
    }
    
    .page-title-link::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: calc(50% - 68px / 2);
        width: 68px;
        height: 2px;
        background-color: #e1d9bd;
    }
    
    .page-heading-items {
        display: flex;
    }
    
    .page-heading-item {}
    
    .page-heading-item:not(:last-child) {
        margin-right: 20px;
    }
    
    .page-heading-link {
        font-family: "OpenSans-Bold", Arial, sans-serif;
        font-size: 0.875rem;
        line-height: normal;
        text-transform: uppercase;
        color: #b59f5b;
    }
    
    .page-trends {
        margin-bottom: 64px;
    }
    
    .page-trends>.page-title {
        margin-bottom: 44px;
    }
    
    .section-trends {
        display: flex;
        justify-content: space-between;
        column-gap: 2px;
        min-height: 320px;
    }
    
    .trend-post {
        display: flex;
        align-items: flex-end;
        position: relative;
        padding: 20px;
        z-index: 1;
    }
    
    .trend-post::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000000;
        opacity: 0.5;
        z-index: -1;
    }
    
    .trend-image {
        max-width: 100%;
        background-color: #272918;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .post-header {
        width: 100%;
        margin: 0 auto;
        padding: 35px;
        border: 2px solid #877a51;
    }
    
    .trend-post:nth-child(1) {
        background-image: url("../images/trend1.jpg");
    }
    
    .trend-post:nth-child(2) {
        background-image: url("../images/trend2.jpg");
    }
    
    .trend-post:nth-child(3) {
        background-image: url("../images/trend3.jpg");
    }
    
    .trend-post:nth-child(4) {
        background-image: url("../images/trend4.jpg");
    }
    
    .trend-preview {
        margin-top: 10px;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        text-transform: uppercase;
    }
    
    .trend-preview-link {
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
    }
    /*@media DESKTOP------------------TRANDS*/
    
    @media (min-width: 1201px) {
        .section-trends {
            flex-wrap: nowrap;
        }
        .trend-post {
            flex: 1 0 25%;
        }
    }
    /*@media TABLET------------------TRANDS*/
    
    @media (max-width: 1200px) {
        .section-trends {
            flex-wrap: wrap;
            row-gap: 2px;
        }
        .trend-post {
            min-height: 248px;
            flex: 1 1 49%;
        }
        .trend-post:not(:last-child) {
            margin-right: 0;
        }
    }
    
    @media (max-width: 768px) {
        .page-title {
            font-size: 18px;
        }
        .page-trends {
            margin-bottom: 51px;
        }
        .section-trends {
            margin-top: 35px;
        }
        .trend-preview-link {
            font-size: 17px;
            line-height: 22px;
        }
    }
    
    @media (max-width: 540px) {
        .section-trends {
            column-gap: 2px;
            row-gap: 2px;
        }
        .trend-post {
            flex: 1 1 49%;
        }
        .post-header {
            padding: 25px;
        }
        .trend-preview-link {
            font-size: 16px;
            line-height: 20px;
        }
    }
    
    @media (max-width: 360px) {
        .trend-post {
            flex: 1 1 100%;
        }
        .post-header {
            padding: 20px;
        }
    }
    /*-------------------MAIN-------------------*/
    
    .wrapper-page {
        display: flex;
        margin-bottom: 59px;
        justify-content: space-between;
    }
    
    .main-content {
        max-width: calc(66.5% - 10px);
        margin-right: 10px;
    }
    
    .main-article {
        display: flex;
        justify-content: space-between;
    }
    
    .main-article:not(:last-child) {
        margin-bottom: 54px;
    }
    
    .section-preview {
        position: relative;
        margin-right: 30px;
    }
    
    .section-preview-image {
        background-color: #eff6f1;
        color: #000000;
        object-fit: cover;
    }
    
    .article-header {
        margin-bottom: 34px;
    }
    
    .article-heading-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 7px;
    }
    
    .article-heading-item {
        list-style: none;
    }
    
    .article-heading-item:not(:last-child) {
        margin-right: 20px;
    }
    
    .article-heading-link {
        font-family: "OpenSans-Bold", Arial, sans-serif;
        text-transform: uppercase;
        color: #000000;
        font-size: 14px;
        color: #b59f5b;
    }
    
    .article-title {
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
    }
    
    .title-entry-link {
        font-family: "OpenSans-Bold", Arial, sans-serif;
        text-transform: uppercase;
        color: #000000;
    }
    
    .article-datatime {
        margin-top: 16px;
        margin-bottom: 35px;
    }
    
    .article-meta {
        font-size: 12px;
        line-height: 40px;
        color: #888888;
    }
    
    .article-author {
        margin-left: 15px;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        font-size: 12px;
    }
    
    .article-preview {
        font-size: 15px;
        margin-bottom: 10px;
    }
    /*@media TABLET------------------TRANDS*/
    
    @media (max-width: 768px) {
        .main-content {
            margin-right: 34px;
        }
        .main-article {
            flex-direction: column;
        }
        .section-preview {
            margin-right: 0;
            margin-bottom: 16px;
        }
        .section-preview-image {
            width: 100%;
        }
        .article-heading-items {
            margin-bottom: 15px;
        }
        .article-datatime {
            margin-top: 30px;
        }
        .article-preview,
        .article-header {
            margin: 0;
        }
        .article-header {
            margin-bottom: 19px;
        }
        .main-article:not(:last-child) {
            border-bottom: 3px solid #eeeeee;
            margin-bottom: 40px;
        }
    }
    
    @media (max-width: 900px) {
        .wrapper-page {
            flex-direction: column;
        }
        .main-content {
            margin: 0;
            margin-bottom: 40px;
            max-width: 100%;
        }
        .main-article {
            border-bottom: 3px solid #eeeeee;
        }
    }
    /*-----------------------БОКОВАЯ ПАНЕЛЬ-----------------------*/
    /*-----Новые посты-------*/
    
    .aside-content {
        width: 272px;
    }
    
    .aside-title {
        font-size: 14px;
        line-height: normal;
        margin-bottom: 45px;
    }
    
    .aside-section-news:nth-child(n+2) {
        margin-top: 55px;
    }
    
    .aside-reference-article {
        display: flex;
    }
    
    .aside-reference-article:not(:last-child) {
        margin-bottom: 12px;
    }
    
    .aside-preview {
        margin-right: 18px;
        margin-top: 5px;
    }
    
    .reference-image-link {}
    
    .aside-preview-image {
        width: 70px;
        background-color: #eff6f1;
    }
    
    .aside-datatime {}
    
    .aside-meta {
        font-size: 12px;
        color: #000000;
        opacity: 0.5;
    }
    
    .heading-excerpt-link {
        display: block;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        text-transform: uppercase;
        color: #000000;
        font-size: 14px;
    }
    /*-----Поиск------*/
    
    .aside-form-search {
        display: flex;
    }
    
    .aside-search {
        width: 220px;
    }
    
    .aside-email {
        width: 100%;
    }
    
    .aside-search,
    .aside-email {
        height: 50px;
        padding: 20px;
        vertical-align: middle;
        border: none;
        font-size: 13px;
        color: #000000;
        background-color: #f4f7f6;
    }
    
    .aside-search:hover,
    .aside-email:hover {
        border-bottom: 1px solid #b59f5b;
    }
    
    .aside-search:focus,
    .aside-email:focus {
        border-bottom: 1px solid #b59f5b;
    }
    
    .btn-search {
        width: 50px;
        height: 50px;
        border: none;
        background-color: #b59f5b;
        background-image: url("../svg/search.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 40%;
        cursor: pointer;
    }
    
    .btn-search:hover,
    .btn-email:hover {
        background-color: #323232;
        opacity: 0.8;
    }
    
    .btn-search:focus,
    .btn-email:focus {
        background-color: #b59f5b;
        opacity: 0.6;
    }
    /*-----Рассылка-----*/
    
    .news-mailing-list {
        margin-top: 56px;
    }
    
    .btn-email {
        width: 100%;
        height: 50px;
        margin-top: 16px;
        border: none;
        background-color: #b59f5b;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        cursor: pointer;
    }
    /*-----Теги------*/
    
    .aside-notes {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .aside-notes-item {
        list-style: none;
    }
    
    .aside-notes-link {
        display: block;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 3px 13px;
        border: 4px solid #eeeeee;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.8;
    }
    
    .aside-notes-link:hover {
        opacity: 1;
        color: #0f0d0e;
    }
    /*-----Темы-------*/
    
    .aside-subject-list {
        border-bottom: 1px solid #eeeeee;
        list-style: none;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        font-size: 12px;
    }
    
    .aside-subject-lists:last-child {
        margin-bottom: 65px;
    }
    
    .aside-subject-list:not(:first-child) {
        margin-top: 17px;
    }
    
    .aside-subject-list {
        padding-bottom: 10px;
    }
    
    .aside-subject-list-link {
        position: relative;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        font-size: 14px;
        color: #000000;
        opacity: 0.8;
    }
    
    .aside-subject-list-link:hover {
        opacity: 1;
    }
    
    .list-amount-subject {
        top: 0;
        font-size: 12px;
        margin-left: 3px;
        color: #b59f5b;
    }
    /*-----------------------ИЗДЕЛИЯ-----------------------*/
    
    .page-products {
        margin-bottom: 44px;
    }
    
    .page-products>.page-title {
        margin-bottom: 42px;
    }
    
    .main-products {
        margin: 0 auto;
        display: flex;
    }
    
    .chapter-title-link {}
    
    .products-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 64px;
    }
    
    .product-item {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 347px;
        padding-top: 0;
        box-sizing: content-box;
    }
    
    .product-item-goods {
        width: 300px;
        margin: 0 auto;
        background-color: #eff6f1;
    }
    
    .product-item-image {
        width: 100%;
        background-size: cover;
    }
    
    .product-item-description {
        flex-grow: 1;
        margin-top: -29px;
        border: 2px solid #b59f5b;
        padding: 25px 20px 26px;
    }
    
    .product-item-title {
        margin-top: 25px;
        margin-bottom: 5px;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .title-entry-link {}
    
    .product-preview {
        font-family: "OpenSans-Regular", Arial, sans-serif;
        line-height: 22px;
        font-size: 15px;
    }
    
    .product-preview-link {
        color: #b59f5b;
    }
    
    .product-buying-goods {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    
    .product-price {
        font-family: "OpenSans-Bold", Arial, sans-serif;
    }
    
    .old-price {
        position: relative;
        font-size: 14px;
    }
    
    .old-price::before {
        position: absolute;
        content: "";
        display: block;
        width: 80%;
        height: 1px;
        top: 10px;
        left: 0;
        background-color: #000000;
    }
    
    .purchase-price {
        font-size: 20px;
    }
    
    .btn-shopping {
        width: 143px;
        height: 50px;
        border: none;
        background-color: #b59f5b;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        cursor: pointer;
    }
    
    .btn-shopping:hover {
        background-color: #323232;
        opacity: 0.8;
    }
    
    .btn-shopping:focus {
        background-color: #b59f5b;
        opacity: 0.6;
    }
    
    @media (max-width: 827px) {
        .product-item-title {
            font-size: 17px;
        }
        .product-item {
            width: 330px;
        }
        .products-items {
            row-gap: 25px;
            column-gap: 23px;
        }
    }
    
    @media (min-width: 753px) and (max-width: 768px) {
        .products-items:last-child {
            justify-content: flex-start;
        }
    }
    
    @media (max-width: 900px) {
        .aside-content {
            margin: 0 auto;
        }
    }
    /*-------------------FOOTER-------------------*/
    /*-----------------------ПОДВАЛ-----------------------*/
    
    .footer-article-socials {
        display: flex;
        justify-content: center;
        margin-bottom: 68px;
        padding: 28px 0;
        background-color: #f4f7f6;
        opacity: 0.5;
    }
    
    .footer-socials {
        display: flex;
        align-items: center;
    }
    
    .socials-list-item {
        list-style: none;
    }
    
    .socials-list-item:not(:last-child) {
        margin-right: 20px;
    }
    
    .socials-link {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 28px;
        font-size: 10px;
        color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 25px;
    }
    
    .socials-link-text {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
    }
    
    .socials-link-twitter {
        background-image: url("../svg/004-twitter.svg");
    }
    
    .socials-link-pinterest {
        background-image: url("../svg/001-pinterest.svg");
    }
    
    .socials-link-facebook {
        background-image: url("../svg/002-facebook-logo.svg");
    }
    
    .socials-link-instagram {
        background-image: url("../svg/005-instagram.svg");
    }
    
    .socials-link-tumblr {
        background-image: url("../svg/003-tumblr.svg");
    }
    
    .footer-copyright {
        text-align: center;
        padding-bottom: 30px;
    }
    
    .footer-copyright-link-text {}
    
    .footer-copyright-text {
        font-family: "OpenSans-Bold", Arial, sans-serif;
        font-size: 12px;
        color: #999999;
    }
    
    @media (max-width: 768px) {
        /*@media TABLET--MOBILE----------------FOOTER*/
        .footer-article-socials {
            margin-bottom: 50px;
        }
    }
    /*-----------------------PO-PUP-----------------------*/
    
    .popup-content {
        position: fixed;
        width: 100vw;
        height: 100vh;
        font-family: "OpenSans-Regular", Arial, sans-serif;
        font-size: 13px;
        background: rgba(0, 0, 0, 0.7);
        z-index: 50;
    }
    
    .popup-content-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 53px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 53px;
        width: 390px;
        background-color: #ffffff;
    }
    
    .popup-modal-close {
        position: absolute;
        z-index: 2;
        top: -25px;
        right: 0;
        cursor: pointer;
    }
    
    .popup-modal-close::before {
        position: absolute;
        content: " ";
        top: 0px;
        right: 0;
        width: 15px;
        height: 15px;
        background-image: url("../svg/form-x.svg");
        background-repeat: no-repeat;
        cursor: pointer;
    }
    
    .popup-modal-close:hover::before {
        opacity: 0.5;
    }
    
    .popup-modal-close:active::before {
        opacity: 0.3;
    }
    
    .popup-form-init {
        display: block;
        margin-top: 34px;
        margin-bottom: 12px;
    }
    
    .popup-content-visit~.popup-form-init {
        margin-top: 43px;
    }
    
    .popup-text {
        height: 50px;
    }
    
    .popup-decoration {
        width: 100%;
        vertical-align: middle;
        box-sizing: border-box;
        border: none;
        font-size: 13px;
        color: #000000;
        opacity: 0.6;
        background-color: #f4f7f6;
        font-family: inherit;
    }
    
    .popup-decoration:hover {
        border-bottom: 1px solid #b59f5b;
    }
    
    .popup-decoration:focus {
        border-bottom: 1px solid #b59f5b;
    }
    
    .popup-decoration-radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-left: 20px;
        background-image: url("../svg/form-arrows.svg");
        background-position: 95% center;
        background-repeat: no-repeat;
        background-size: 3%;
        cursor: pointer;
    }
    
    .popup-content-mailing {
        position: relative;
        margin-top: 30px;
    }
    
    .popup-form-group-radio {
        display: inline-block;
    }
    
    .popup-form-group-radio:nth-of-type(n+2) {
        margin-left: 15px;
    }
    
    .popup-mailing {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
    }
    
    .popup-mailing:focus~.radio-group-text::before {
        outline: 1px solid #b59f5b;
        outline-offset: 5px;
    }
    
    .popup-mailing:checked~.radio-group-text::before {
        background-image: url("../svg/form-circle.svg");
    }
    
    .popup-mailing~.radio-group-text::before {
        background-image: url("../svg/form-empty-circle.svg");
    }
    
    .radio-group-text::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        background-image: url("../svg/form-empty-circle.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px;
    }
    
    .popup-content-message {
        box-sizing: border-box;
        margin-top: 25px;
    }
    
    .popup-message {
        padding: 20px;
        resize: none;
    }
    
    .btn-popup {
        width: 100%;
        height: 50px;
        margin-top: 25px;
        border: none;
        background-color: #b59f5b;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        font-family: "OpenSans-Bold", Arial, sans-serif;
        cursor: pointer;
    }
    
    .btn-popup:hover {
        background-color: #323232;
        opacity: 0.8;
    }
    
    .btn-popup:focus {
        background-color: #b59f5b;
        opacity: 0.6;
    }
    
    @media (max-width: 430px) {
        .popup-content-form {
            padding: 27px 25px 30px;
            width: 332px;
        }
    }